body {
  background: #222;
}

circle {
  fill: none;
  stroke-width: 1.5px;
}

.node.user {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #FFF;
  stroke-opacity: .6;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0
}

svg {
  z-index: 10;
}
